<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject.projectbeta2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="Android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectBeta2">
        <activity
            android:name="com.myproject.projectbeta2.TeachingFirstMode"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.myproject.projectbeta2.TeachingSecondMode"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.myproject.projectbeta2.TeachingThirdMode"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.myproject.projectbeta2.TeachingList"
            android:exported="false" />
        <activity
            android:name="com.myproject.projectbeta2.TranslatorSM"
            android:exported="false" />
        <activity
            android:name="com.myproject.projectbeta2.AboutTheProgramme"
            android:exported="false" />
        <activity
            android:name="com.myproject.projectbeta2.FirstScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myproject.projectbeta2.TranslatorFM"
            android:exported="false"
            />
    </application>

</manifest>